-var metaContentDescription ="Feast caterers are a catering company based in the Sutherland Shire. Feast provide wedding catering, all occasion catering such as Corporate Catering, Party catering, Birthday catering, Funeral Catering and much more."
head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(name="description" content="#{metaContentDescription}")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- Now for the Favicons
		include favicon
		//- Other meta tags
		//- add meta href="of original page" & rel="canonical" if this is a page repeats content and you don't want it steal some of the google ranking
		//- add meta name=robots" content ="noindex" if you do not want this page to be indexed by google or other search enginges
		//- add rel="no-follow"when you do not want google to follow the links on the page such as links in blog posts.
		title #{title}
		//- Stylesheets
		link(rel="stylesheet" href="css/freestyle.css")
